pat
CMLS-Juce/Source/compile_flags.txt
.vscode
MyExamples/PluginEditor.cpp
MyExamples/PluginProcessor.cpp
MyExamples/PluginEditor.h
MyExamples/PluginProcessor.h
/home/mattia/Sdy/Cmls/ProjectCMLS/CMLS-Juce/Builds/LinuxMakefile/build/*
/home/mattia/Sdy/Cmls/ProjectCMLS/CMLS-Juce/Builds/LinuxMakefile/pre_build/*
